
.contenedorCard{
    background-color: rgb(196, 194, 194);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.card{
    width: 280px;
    border: 3px ;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(151, 16, 1);
    text-align: center;
    color: aliceblue;
}
.card-img{
    width:250px;
    height: 250px;
    border-radius: 15px;
}